.col-1 {
  flex: 1 1 50rem;
}
.col-2 {
  flex: 2 1 70rem;
}

/* image */
img {
  border-radius: 0.5rem;
}
img.large {
  margin-top: 2rem;
  width: 90%;
}

/* list */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
