/* form */

.form {
  max-width: 40rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* select input */
input {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
input:hover {
  cursor: pointer;
}
